<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DbShell.Driver.Common" version="1.0.5" targetFramework="net481" />
  <package id="DbShell.Driver.MySql" version="1.0.5" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net481" />
  <package id="Pomelo.Data.MySql" version="1.0.0" targetFramework="net481" />
  <package id="SqlDatabase" version="4.1.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net481" />
</packages>